@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins",serif;
}



body{
    background-color: #222831;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    padding: 0 0.5rem;
    max-width: 1200px;
}



.navigation ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}


.navigation a{
    text-decoration: none;
    color: #eeeeee;
}
.navigation a:hover{
    color: #00adb5;
}


hr{
    opacity: 10%;
}


.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
}

.arrow{
    position: absolute;
    transform: translateX(-5.5rem)translateY(1.5rem);
}

.heroSub{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.name{
    font-size: 3rem;
    color: #eeeeee;
}

.title{
    font-size: 3rem;
    color: #00adb5;
}

.heroBtns{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.hireMe{
    background-color: #00adb5;
    color: #eeeeee;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.5);
}

.cv{
    background-color: #393e46bf;
    color: #eeeeee;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    backdrop-filter: blur(4px);
}

.aboutMe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
    gap: 10rem;
}

.textContainer{
    display: flex;
    flex-direction: column;
}

.textTitle{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 2rem;
}

.aboutName{
    color: #eeeeee;
}

.aboutTitle{
    color: #00adb5;
}

.aboutMePar{
    text-align: justify;
    color: #eeeeee;
}    

.works{
    background-image: url("assets/svg/background.svg");
    padding: 10rem 10rem;
    margin: 5rem 0rem;
}

.worksContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    margin: 5rem auto;
    max-width: 1200px;
}

.projectTitle{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    font-size: 2rem;
}

.works ul{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

.works li{
    border-radius: 16px;
    background-color: #393e46bf;
    backdrop-filter: blur(4px);
    padding: 1rem 4rem;
}

.works li img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    transition: transform 0.2s;
}

.works li :hover{
    transform: scale(1.5);
}

.contactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
}

.contacttTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 2rem;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    gap: 20rem;
}

.contact h3, .contact a {
    color: #eeeeee;
    text-decoration: none;

}

.emailAndPhone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.socialMedia a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: rgba(57, 62, 70, 0.5);
    backdrop-filter: blur(4px);
    padding: 1rem;
}

.socialMedia img {
    width: 24px;
    height: 24px;
}

footer{
    color: #eeeeee;
    padding: 2rem;
    text-align: center;
}

@media(max-width:1023px){
    
}